body {
  background-color: #392e40;
  background-image: url("darkPurple.png");
  background-repeat: repeat;
  font-family: "Courier New", Courier, monospace;
  color: #f3f3f3;
}

/* main sections' styling */
header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.33);
  padding: 20px;
  overflow: hidden;
  z-index: -1;
}

header a,
header span {
  float: left;
  text-align: center;
  padding-right: 44px;
}

main {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
  background-color: rgba(0, 0, 0, 0.33);
  padding: 20px;
}

/* footer no longer required

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.33);
  text-align: center;
  padding: 20px;
  z-index: -1;
}
*/

/* dynamic navbar */
nav {
  z-index: 1;
  position: fixed;
  left: -10px;
  top: 0px;
}

nav a {
  position: absolute;
  left: -100px;
  transition: 0.3s;
  padding: 15px;
  width: 130px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  /*  border-radius: 0 5px 5px 0; /* rounded corners on top- and bottom-right sides*/
  background-color: rgba(0, 0, 0, 0.33);
}

nav a:hover {
  left: 0; /* pop out on mouse-over */
}
#link_home {
  top: 75px;
}
#link_credits {
  top: 135px;
}
#link_compad {
  top: 195px;
}
#link_starmap {
  top: 255px;
}
#link_system {
  top: 315px;
}
#link_admin {
  top: 375px;
  background-color: rgba(255, 251, 0, 0.33);
}

/* ++++++++++++++++++++++++++++++++ */
/* individual element styles */

/* anything that should be hidden */
.hidden {
  display: none;
  visibility: hidden;
}

/* for sections that should have shadowed background */
.darker {
  background-color: rgba(0, 0, 0, 0.33);
  padding: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* hyperlinks */
a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* anything that should float to the right */
.float_right {
  float: right;
}

/* anything that should appear "clickable" */
.cursor_pointer {
  cursor: pointer;
}

/* collapsible "accordion" segments */
.collapsible {
  overflow: hidden;
  display: none;
}

/* table of users in admin page */
.dark_table {
  border: none;
  border-spacing: 0px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.33);
  padding: 10px;
  text-align: left;
}

.dark_table td {
  padding: 10px;
}

.dark_table tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.33);
}

/*  */
