body {
  background-image: url("darkPurple.png");
  background-repeat: repeat;
  font-family: "Courier New", Courier, monospace;
  color: white;
}

/* main sections' styling */
header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.33);
  text-align: center;
  padding: 20px;
}

main {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
  background-color: rgba(0, 0, 0, 0.33);
  padding: 20px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.33);
  text-align: center;
  padding: 20px;
}

nav {
  visibility: hidden;
}

/* individual element styles */
a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
