{% extends "layout.html" %}

{% block head_block %}
{% endblock %}

{% block page_title %}Account{% endblock %}

{% block main %}

<h1>Account</h1>

<!-- CHANGE PASSWORD -->

<div class="darker">
    <form action="/account" method="post">
        <fieldset>
            <legend>
                <h2>
                    Change password
                </h2>
            </legend>

            <p>
                <label for="account_old_password">Old password:</label>
                <input name="old_password" placeholder="Old password" type="password" id="account_old_password">
            </p>

            <p>
                <label for="account_new_password">New password:</label>
                <input name="new_password" placeholder="New password" type="password" id="account_new_password">
                <label hidden for="account_confirm_password">New password:</label>
                <input name="confirmation" placeholder="Repeat new password" type="password"
                    id="account_confirm_password">
            </p>
            <label hidden for="account_change_password_button">Change password</label>
            <button type="submit" class="ui_button" id="account_change_password_button">Change Password</button>
        </fieldset>
    </form>
</div>

<!-- CHANGE SITE COLOUR SCHEME -->
<div class="darker">
    <form action="/change_scheme" method="post">
        <fieldset>
            <legend>
                <h2>
                    Compad Colour Scheme
                </h2>
            </legend>

            <p>
                <label for="scheme_drop_down">Scheme:</label>
                <select id="scheme_drop_down" name="scheme_drop_down">
                    <option disabled selected>
                        Select scheme
                    </option>
                    {% for sheet in stylesheets %}
                    <option value="{{ sheet }}" name="{{ sheet }}">
                        {{ sheet|replace("colour_scheme_", n)|replace(".css",n) }}
                    </option>
                    {% endfor %}
                </select>
            </p>

            <p>
                <label hidden for="account_change_scheme_button">Apply Scheme</label>
                <button type="submit" class="ui_button" id="account_change_scheme_button">Apply Scheme</button>
            </p>
        </fieldset>
    </form>
</div>

{% endblock %}