{% extends "layout.html" %}

{% block head_block %}
<style>
    h2 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
</style>
{% endblock %}

{% block page_title %}Admin{% endblock %}

{% block main %}

<h1>Admin</h1>

<!-- list all users, their credits, and their admin status -->
<div class="darker">
    <h2 class="cursor_pointer" onclick="collapseSegment('admin_user_list', 'admin_user_list_expand')">
        Users
        <img class="float_right" id="admin_user_list_expand" src="static\icon-arrow-down.svg" />
    </h2>
    <div class="collapsible" id="admin_user_list">

        <div>
            <!-- new user registration -->
            <form action="/register" method="post">
                <fieldset>
                    <legend>
                        <h3>Create new user</h3>
                    </legend>
                    <p>
                        <img src="static\icon-user.svg" alt="username" />
                        <input autocomplete="off" name="username" placeholder="Username" type="text">
                    </p>
                    <p>
                        <img src="static\icon-lock.svg" alt="password" />
                        <input name="password" placeholder="Password" type="password">
                        <input name="confirmation" placeholder="Repeat Password" type="password">
                    </p>
                    <button type="submit">Register</button>
                </fieldset>
            </form>
        </div>

        <h3>Existing users</h3>
        <table class="dark_table">
            <thead>
                <tr>
                    <th>USERNAME</th>
                    <th>ADMIN?</th>
                    <th>CAMPAIGN</th>
                    <th>CREDITS</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- loop through the database entries to create table of users -->
                {% for entry in user_list %}
                <tr>
                    <td>
                        {{ entry.username }}
                    </td>
                    <td>
                        {% if entry.admin == 1 %}
                        {{ "yes" }}
                        {% else %}
                        {{ "no" }}
                        {% endif %}
                    </td>
                    <td>
                        {{ entry.campaign }}
                    </td>
                    <td>
                        {{ entry.credits }}
                    </td>
                    <td>
                        <button>Edit user</button>
                    </td>
                    <td>
                        {% if entry.admin != 1 %}
                        <a href=""><img src="static\icon-bin.svg" /></a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>

<!-- +++++++++++++++++++++++++++++++++++ -->
<!-- CREDSTICKS -->
<div class="darker">
    <h2 class="cursor_pointer" onclick="collapseSegment('admin_credits', 'admin_credits_expand')">
        Credits
        <img class="float_right" id="admin_credits_expand" src="static\icon-arrow-down.svg" />
    </h2>
    <div class="collapsible" id="admin_credits">

        <div>
            <!-- new credstick creation -->
            <form action="/credstick" method="post">
                <fieldset>
                    <legend>
                        <h3>New credstick</h3>
                    </legend>
                    <p>
                        <img src="static\icon-code.svg" alt="code" />
                        <input autocomplete="off" name="credstick_code" placeholder="Code" type="text">
                    </p>
                    <p>
                        <img src="static\icon-money.svg" alt="value" />
                        <input name="credstick_credits" placeholder="Credits" type="number">
                    </p>
                    <p>
                        <img src="static\icon-note.svg" alt="message" />
                        <input name="credstick_message" placeholder="Message" type="text">
                    </p>
                    <button type="submit">Create</button>
                </fieldset>
            </form>
        </div>

        <h3>Existing credsticks</h3>
        <table class="dark_table">
            <thead>
                <tr>
                    <th>CODE</th>
                    <th>CREDITS</th>
                    <th>MESSAGE</th>
                    <th>STATE</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- loop through the database entries to create table of credsticks -->
                {% for stick in credsticks_list %}
                <tr>
                    <td>
                        {{ stick.code }}
                    </td>
                    <td>
                        {{ stick.credits }}
                    </td>
                    <td>
                        {{ stick.message }}
                    </td>
                    <td>
                        {% if stick.state == 0 %}
                        {{ "active" }}
                        {% else %}
                        {{ "redeemed" }}
                        {% endif %}
                    </td>
                    <td>
                        <form action="{{ url_for('remove_credstick', credstick_id=stick.id)}}" method="POST"
                            style="display: inline;">
                            <button type="submit" style="border: none; background: none;">
                                <img src="static\icon-bin.svg" />
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>

<div class="darker">
    <h2 class="cursor_pointer" onclick="collapseSegment('admin_compad', 'admin_compad_expand')">
        Compad
        <img class="float_right" id="admin_compad_expand" src="static\icon-arrow-down.svg" />
    </h2>
    <div class="collapsible" id="admin_compad">
        <p>Send messages here (to, from, message)</p>
    </div>
</div>

<div class="darker">
    <h2 class="cursor_pointer" onclick="collapseSegment('admin_starmaps', 'admin_starmaps_expand')">
        Starmaps
        <img class="float_right" id="admin_starmaps_expand" src="static\icon-arrow-down.svg" />
    </h2>
    <div class="collapsible" id="admin_starmaps">
        <p>Monitor and create starmap codes here (code, URL)</p>
    </div>
</div>

<div class="darker">
    <h2 class="cursor_pointer" onclick="collapseSegment('admin_systems', 'admin_systems_expand')">
        Systems
        <img class="float_right" id="admin_systems_expand" src="static\icon-arrow-down.svg" />
    </h2>
    <div class="collapsible" id="admin_systems">
        <p>Create star system entries here (details TBD)</p>
    </div>
</div>

{% endblock %}