{% extends "layout.html" %}

{% block head_block %}
{% endblock %}

{% block page_title %}Admin{% endblock %}

{% block main %}

<h1>Admin</h1>

<!-- list all users, their credits, and their admin status -->
<h2 class="cursor_pointer" onclick="collapseSegment('admin_user_list', 'admin_user_list_expand')">
    Users
    <img class="float_right" id="admin_user_list_expand" src="static\icon-arrow-down.svg" />
</h2>
<div class="collapsible" id="admin_user_list">
    <h3>Current users</h3>
    <table id="admin_users_table">
        <thead>
            <tr>
                <th>USERNAME</th>
                <th>ADMIN?</th>
                <th>CREDITS</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <!-- loop through the database entries to create table of users -->
            {% for entry in user_list %}
            <tr>
                <td>{{ entry.username }}</td>
                <td>
                    {% if entry.admin == 1 %}
                    {{ "yes" }}
                    {% else %}
                    {{ "no" }}
                    {% endif %}
                </td>
                <td>{{ entry.credits }}</td>
                <td><button>Change password</button></td>
                <td>
                    {% if entry.admin != 1 %}
                    <a href=""><img src="static\icon-bin.svg" /></a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div id="admin_new_user">
        <!-- new user registration -->
        <h3>Create new users here</h3>
        <form action="/register" method="post">
            <div>
                <p>Username:
                    <input autocomplete="off" name="username" placeholder="Username" type="text">
                </p>
            </div>
            <div>
                <p>Password:
                    <input name="password" placeholder="Password" type="password">
                    <input name="confirmation" placeholder="Repeat Password" type="password">
                </p>
            </div>
            <button type="submit">Register</button>
        </form>
    </div>
</div>

<h2>Credits</h2>
<div>
    <p>Monitor and create credit codes here (code, amount, redeemed status)</p>
</div>

<h2>Starmaps</h2>
<div>
    <p>Monitor and create starmap codes here (code, URL)</p>
</div>

<h2>Compad</h2>
<div>
    <p>Send messages here (to, from, message)</p>
</div>

{% endblock %}