{% extends "layout.html" %}

{% block head_block %}
{% endblock %}

{% block page_title %}Compad{% endblock %}

{% block main %}

<h1>Compad</h1>

<div>
    <form action="/compad" method="POST">
        <fieldset>
            <legend>Send new message</legend>
            <!-- recipient -->
            <table>
                <tr>
                    <td>
                        <label for="compose_recipient">To:</label>
                    </td>
                    <td>
                        <select name="compose_recipient" id="compose_recipient">
                            <option value="NPC" selected>NPC</option>
                            <!-- populate with jinja for every character in same campaign -->
                            {% for person in recipient_list %}
                            <option value="{{ person.username }}">{{ person.username }}</option>
                            {% endfor %}
                        </select>
                        <!-- insert NPC recipient name -->
                        <!-- TO DO: make this disappear if "NPC" isn't picked in the select box?... JavaScript? -->
                        <label for="compose_npc_name">NPC Name:</label>
                        <input type="text" id="compose_npc_name" name="compose_npc_name"
                            placeholder="NPC name (lower case)" />
                    </td>
                </tr>
                <!-- sender -->
                <tr>
                    <td>
                        <label for="compose_sender">From:</label>
                    </td>
                    <td>
                        {% if admin == 1 %}
                        <!-- if user is admin, they can change sender -->
                        <input type="text" id="compose_sender" name="compose_sender" placeholder="NPC name (lower case)"
                            required />
                        {% else %}
                        <!-- if user is not admin, they cannot change sender -->
                        <input type="text" id="compose_sender" name="compose_sender" readonly
                            value="{{ current_username }}" />
                        {% endif %}
                    </td>
                </tr>
                <!-- message body -->
                <tr>
                    <td>
                        <label for="compose_message">Message:</label>
                    </td>
                    <td>
                        <textarea id="compose_message" name="compose_message" required rows="3" cols="68"
                            style="resize: vertical;"></textarea>
                    </td>
                </tr>
            </table>
            <p>
                <button type="submit" class="ui_button" id="compose_send_button">Send</button>
            </p>
        </fieldset>
    </form>
</div>

<!-- INBOX -->

<!-- TO DO: ADD ARCHIVE BUTTONS -->
<div style="margin-top: 10px;" class="darker">
    <h2>Inbox for {{ current_username }}</h2>
    <table class="dark_table">

        <tr style="text-align:left">
            <th>TO</th>
            <th>FROM</th>
            <th>MESSAGE</th>
            <td style="text-align: center;">ARCHIVE</td>
        </tr>

        {% for message in user_messages %}
        {% if message.fromUser != current_username %}
        {% if message.archive != 1 %}
        <tr class="table_align_top">
            <td>{{ message.toUser }}</td>
            <td>{{ message.fromUser }}</td>
            <td>{{ message.message }}</td>
            <td style="text-align: center;">
                <form action="{{ url_for('archive_message', msg_id=message.msgId)}}" method="POST"
                    style="display: inline;">
                    <label hidden for="archive_message_{{ message.msgid }}">Delete {{ message.msgid }}</label>
                    <button type="submit" class="cursor_pointer" style="border: none; background: none;"
                        id="archive_message_{{ message.msgid }}">
                        <img src="static\icon-archive.svg" alt="archive" />
                    </button>
                </form>
            </td>
        </tr>
        {% endif %}
        {% endif %}
        {% endfor %}

    </table>
</div>

<!-- OUTBOX -->
<!-- starts collapsed, can be expanded by clicking -->
<div style="margin-top: 10px;" class="darker">
    <h2 class="cursor_pointer" onclick="collapseSegment('compad_outbox', 'compad_outbox_expand')">
        Outbox
        <img class="float_right" id="compad_outbox_expand" src="static\icon-arrow-down.svg"
            alt="expand/contract section" />
    </h2>
    <div class="collapsible" id="compad_outbox" style="display: none;">
        <table class="dark_table">

            <tr style="text-align:left">
                <th>TO</th>
                <th>MESSAGE</th>
            </tr>

            {% for message in user_messages %}
            {% if message.fromUser == current_username %}
            <tr class="table_align_top">
                <td>{{ message.toUser }}</td>

                <td>{{ message.message }}</td>
            </tr>
            {% endif %}
            {% endfor %}

        </table>
    </div>
</div>

<!-- ARCHIVE -->
<!-- starts collapsed, can be expanded by clicking -->
<div style="margin-top: 10px;" class="darker">
    <h2 class="cursor_pointer" onclick="collapseSegment('compad_archive', 'compad_archive_expand')">
        Archive
        <img class="float_right" id="compad_archive_expand" src="static\icon-arrow-down.svg"
            alt="expand/contract section" />
    </h2>
    <div class="collapsible" id="compad_archive" style="display: none;">
        <table class="dark_table">

            <tr style="text-align:left">
                <th>TO</th>
                <th>FROM</th>
                <th>MESSAGE</th>
            </tr>

            {% for message in user_messages %}
            {% if message.fromUser != current_username %}
            {% if message.archive == 1 %}
            <tr class="table_align_top">
                <td>{{ message.toUser }}</td>
                <td>{{ message.fromUser }}</td>
                <td>{{ message.message }}</td>
            </tr>
            {% endif %}
            {% endif %}
            {% endfor %}

        </table>
    </div>
</div>

{% endblock %}