{% extends "layout.html" %}

{% block head_block %}
{% endblock %}

{% block page_title %}Compad{% endblock %}

{% block main %}

<h1>Compad</h1>

<p>UNDER CONSTRUCTION</p>

<div>
    <!-- testing ground -->
    <p>
        messages<br />
        {{ user_messages }}
    </p>
</div>

<div>
    <form action="/compad" method="POST">
        <fieldset>
            <legend>Send new message</legend>
            <!-- recipient -->
            <p>
                <label for="compose_recipient">To:</label>
                <select name="compose_recipient" id="compose_recipient">
                    <option value="NPC" selected>NPC</option>
                    <!-- populate with jinja for every character in same campaign -->
                    {% for person in recipient_list %}
                    <option value="{{ person.username }}">{{ person.username }}</option>
                    {% endfor %}
                </select>
                <!-- insert NPC recipient name -->
                <label for="compose_npc_name">NPC Name:</label>
                <input type="text" id="compose_npc_name" name="compose_npc_name" placeholder="NPC name (lower case)" />
            </p>
            <!-- sender -->
            <p>
                <label for="compose_sender">From:</label>

                {% if admin == 1 %}
                <!-- if user is admin, they can change sender -->
                <input type="text" id="compose_sender" name="compose_sender" placeholder="NPC name (lower case)"
                    required />
                {% else %}
                <!-- if user is not admin, they cannot change sender -->
                <input type="text" id="compose_sender" name="compose_sender" readonly
                    value="{{ current_username.username }}" />
                {% endif %}
            </p>
            <!-- message body -->
            <p>
                <label for="compose_message">Message:</label>
                <input type="text" id="compose_message" name="compose_message" size="40" required />
            </p>
            <p>
                <button type="submit" class="ui_button" id="compose_send_button">Send</button>
            </p>
        </fieldset>
    </form>
</div>

<div>
    <table>

        <tr>
            <th>To</th>
            <th>From</th>
            <th>Message</th>
        </tr>

    </table>
</div>

{% endblock %}