{% extends "layout.html" %}

{% block head_block %}
{% endblock %}

{% block page_title %}Credits{% endblock %}

{% block main %}

<h1>Credits</h1>

<!-- balance -->
<h2>Balance</h2>
<p>You have {{ credits_balance }} credits.</p>

<!-- send/spend credits -->
<h2>Send Credits</h2>
<form action="/credits_send" method="post">
    <fieldset>
        <legend>
            Who do you wish to send credits to?
        </legend>
        <div class="send_credits_div">
            <label>
                Recipient
            </label>
            <select name="send_credits_to">
                <!-- option to send to NPC or shop -->
                <option value="NPC" selected>NPC or shop</option>
                <!-- populate with jinja for every character in same campaign -->
                {% for person in send_list %}
                <option value="{{ person.username }}">{{ person.username }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="send_credits_div">
            <label>
                Credits
            </label>
            <input type="number" name="send_credits_amount" min="1" value="0" />
        </div>
        <div class="send_credits_div">
            <label>
                Message
            </label>
            <input type="text" name="send_credits_note" />
        </div>
        <div class="send_credits_div">
            <button type="submit">Send</button>
        </div>
    </fieldset>
</form>

<!-- use credstick -->

<!-- financial history-->
<h2>Financial History</h2>

<table class="dark_table">
    <thead>
        <tr>
            <th>SENDER</th>
            <th>RECEIVER</th>
            <th>CREDITS</th>
            <th>MESSAGE</th>
        </tr>
    </thead>
    <tbody>
        <!-- loop through the database entries to create financial history table -->
        {% for line in finance_history %}
        <tr>
            <td>{{ line.isfrom }}</td>
            <td>{{ line.isto }}</td>
            <td>{{ line.value }}</td>
            <td>{{ line.message }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}