{% extends "layout.html" %}

{% block head_block %}
{% endblock %}

{% block page_title %}Credits{% endblock %}

{% block main %}

<h1>Credits</h1>

<h2>Balance</h2>
<p>You have {{ credits_balance }} credits.</p>

<h2>Financial History</h2>

<table class="dark_table">
    <thead>
        <tr>
            <th>SENDER</th>
            <th>RECEIVER</th>
            <th>CREDITS</th>
            <th>MESSAGE</th>
        </tr>
    </thead>
    <tbody>
        <!-- loop through the database entries to create financial history table -->
    </tbody>
</table>

{% endblock %}