{% extends "layout.html" %}

{% block head_block %}
{% endblock %}

{% block page_title %}Edit User: {{ edited_user.username }}{% endblock %}

{% block main %}

<form action="{{ url_for('edit_user', edit_user_id=edited_user.id)}}" method='POST'>
    <fieldset>
        <legend>
            <h2>Edit "{{ edited_user.username }}"</h2>
        </legend>
        <p>
            Details left blank will remain unchanged.
        </p>
        <!-- username -->
        <p>
            <span>
                <img src="{{ url_for('static', filename='icon-user.svg') }}" alt="username" />
                <label for="edit_user_username">
                    Username:
                </label>
                <input autocomplete="off" name="new_username" type="text" id="edit_user_username" />
            </span>
        </p>

        <!-- password -->
        <p>
            <span>
                <img src="{{ url_for('static', filename='icon-lock.svg') }}" alt="password" />
                <label for="edit_user_password">
                    Password:
                </label>
                <input autocomplete="off" name="new_password" type="password" id="edit_user_password" />
            </span>
        </p>

        <!-- credits -->
        <p>
            <span>
                <img src="{{ url_for('static', filename='icon-money.svg') }}" alt="credits" />
                <label for="edit_user_credits">
                    Credits:
                </label>
                <input autocomplete="off" name="new_credits" type="number" min="0" id="edit_user_credits" />
            </span>
        </p>

        <!-- campaign -->
        <p>
            <span>
                <img src="{{ url_for('static', filename='icon-globe.svg') }}" alt="campaign" />
                <label for="edit_user_campaign">
                    Campaign:
                </label>
                <input autocomplete="off" name="new_campaign" type="number" id="edit_user_campaign" />
            </span>
        </p>

        <!-- admin status -->
        <!-- only available for other users (not current user) to avoid locking self out of admin console -->
        {% if edited_user.id != logged_in_user_id %}
        <p>
            <span>
                <img src="{{ url_for('static', filename='icon-key.svg') }}" alt="username" />
                Admin:
            </span><br />
            <input type="radio" id="new_admin_status_yes" name="new_admin_status" value="1">
            <label for="new_admin_status_yes">Yes</label><br>
            <input type="radio" id="new_admin_status_no" name="new_admin_status" value="0">
            <label for="new_admin_status_no">No</label><br>
        </p>
        {% endif %}

        <label hidden for="update_user_button"></label>
        <button type="submit" class="ui_button" id="update_user_button">Update details</button>
    </fieldset>
</form>

<!-- financial history-->
<h2>Financial History</h2>

<table class="dark_table">
    <thead>
        <tr>
            <th>SENDER</th>
            <th>RECEIVER</th>
            <th>CREDITS</th>
            <th>MESSAGE</th>
        </tr>
    </thead>
    <tbody>
        <!-- loop through the database entries to create financial history table -->
        {% for line in this_user_finance_history %}
        <tr>
            <td>{{ line.isfrom }}</td>
            <td>{{ line.isto }}</td>
            <td>{{ line.value }}</td>
            <td>{{ line.message }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- existing charts in user's inventory -->
<h2>Starmap Inventory</h2>
<table class="dark_table">
    <thead>
        <tr>
            <th>URL</th>
            <th>DELETE</th>
        </tr>
    </thead>
    <tbody>
        <!-- loop through the database entries to create table of unlocked starmaps -->
        {% for map in users_maps %}
        <tr>
            <td>

                <a href="{{ url_for('static', filename='starmaps/' ~ map.url) }}" target="_blank">{{ map.url }}</a>
            </td>
            <td>
                <img src="{{ url_for('static', filename='icon-bin.svg') }}" alt="delete" />
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- delete user; admin users cannot be deleted (make them non-admins first) -->
{% if edited_user.admin != 1 %}
<form action="{{ url_for('remove_user', del_user_id=edited_user.id)}}" method="POST" style="display: inline;">
    <fieldset>
        <legend>
            <h2>Delete user</h2>
        </legend>
        <p>
            <strong>Warning</strong>: This is permanent and cannot be undone. All history and related inventory will be
            lost with user.
        </p>
        <label hidden for="delete_user_button">Delete user</label>
        <button type="submit" class="warning_button" id="delete_user_button">
            Delete user
        </button>
    </fieldset>
</form>
{% endif %}

{{ user_map_catalogue }}

{% endblock %}