{% extends "layout.html" %}

{% block head_block %}
{% endblock %}

{% block page_title %}Login{% endblock %}

{% block main %}

<div style="text-align: center;">
    <h1>COMPAD</h1>

    <form action="/login" method="post">
        <p>
        <div>
            <input autocomplete="off" autofocus name="username" placeholder="Username" type="text" />
        </div>
        </p>
        <p>
        <div>
            <input name="password" placeholder="Password" type="password">
        </div>
        </p>
        <button type="submit">Login</button>
    </form>
</div>

{% endblock %}