{% extends "layout.html" %}

{% block head_block %}
{% endblock %}

{% block page_title %}Login{% endblock %}

{% block main %}

<h1>COMPAD</h1>

<form action="/login" method="post">
    <div>
        <input autocomplete="off" autofocus name="username" placeholder="Username" type="text" />
    </div>
    <div>
        <input name="password" placeholder="Password" type="password">
    </div>
    <button type="submit">Login</button>
</form>

<!-- registration (for initial setup) -->
<div>
    <p>Or click here to <a href="/register">register</a></p>
</div>

{% endblock %}