{% extends "layout.html" %}

{% block head_block %}
{% endblock %}

{% block page_title %}Login{% endblock %}

{% block main %}

<div style="text-align: center;">
    <h1>COMPAD</h1>

    <form action="/login" method="post">
        <p>
        <div>
            <label hidden for="login_username">Username</label>
            <input autocomplete="off" autofocus name="username" placeholder="Username" type="text"
                id="login_username" />
        </div>
        </p>
        <p>
        <div>
            <label hidden for="login_password">Password</label>
            <input name="password" placeholder="Password" type="password" id="login_password">
        </div>
        </p>
        <label hidden for="login_button">Login</label>
        <button type="submit" class="ui_button" id="login_button">Login</button>
    </form>
</div>

<div>
    <p>
        <strong>Warning:</strong> This web application does not currently support mobile devices. For best results,
        please use a desktop or laptop web browser.
    </p>
</div>

{% endblock %}