{% extends "layout.html" %}

{% block head_block %}
{% endblock %}

{% block page_title %}Starmap{% endblock %}

{% block main %}

<h1>Starmap Database</h1>

<!-- existing charts in user's inventory -->
<h2>Catalogue</h2>
<table class="dark_table">
    <thead>
        <tr>
            <th>URL</th>
        </tr>
    </thead>
    <tbody>
        <!-- loop through the database entries to create table of unlocked starmaps -->
        {% for map in users_maps %}
        <tr>
            <td>
                <a href="static/starmaps/{{ map.url }}" target="_blank">{{ map.url }}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- unlock new chart with code -->
<form action="add_starmap" method="post">
    <fieldset>
        <legend>
            <h2>Use starmap code</h2>
        </legend>
        <div>
            <p>
                <label for="starmap_code">Code</label>
                <input type="text" name="input_starmap_code" id="starmap_code" />
            </p>
            <div>
                <label hidden for="starmap_unlock_button">Unlock starmap</label>
                <button type="submit" class="ui_button" id="starmap_unlock_button">Unlock</button>
            </div>
        </div>
    </fieldset>
</form>

{% endblock %}