{% extends "layout.html" %}

{% block head_block %}
{% endblock %}

{% block page_title %}Starmap{% endblock %}

{% block main %}

<h1>Starmap Database</h1>

<!-- existing charts in user's inventory -->
<h2>Catalogue</h2>
<table class="dark_table">
    <thead>
        <tr>
            <th>NAME</th>
            <th>URL</th>
        </tr>
    </thead>
    <tbody>
        <!-- loop through the database entries to create table of starmap unlock codes -->
        {% for item in catalogue %}
        <tr>
            <td>
                {{ item.mapname }}
            </td>
            <td>
                <a href="static/starmaps/{{ item.url }}" target="_blank">{{ item.url }}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- unlock new chart with code -->
<form action="/starmap_unlock" method="post">
    <fieldset>
        <legend>
            <h2>Use starmap code</h2>
        </legend>
        <div>
            <p>
                <label>
                    Code
                </label>
                <input type="text" name="input_starmap_code" />
            </p>
            <div>
                <button type="submit" class="ui_button">Unlock</button>
            </div>
        </div>
    </fieldset>
</form>

{% endblock %}